// @import '../../variables.scss';

.hero {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;

  i {
    color: #F17F29;
    font-size: 2.5rem;
    margin: 1rem;
  }

  .image-container,
  .top-info-container,
  .bottom-info-container {
    padding: 10rem;
  }

  .image-container {
    background-image: url('../../assets/splash-pg-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .searchbar {
    margin-top: 20px;
  }

  .top-info-container {}

  .bottom-info-container {
    background-color: #FAF8ED;



    button {
      display: block;
      margin: 2rem auto;
    }
  }
}