.create-pet {
  max-width: 600px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  button {
    width: fit-content;
  }
}

.create-pet h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-pet form {
  display: flex;
  flex-direction: column;
}

.create-pet label {
  margin-bottom: 10px;
  font-weight: bold;
}

.create-pet input,
.create-pet textarea {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #f2eeee;
  border-radius: 4px;
}

.success-message {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}